body {
  background: #008a96;
  background-image: radial-gradient(
    circle at 6.56% 19.58%,
    #008a96 0,
    #00899e 5.56%,
    #0089a6 11.11%,
    #0088ad 16.67%,
    #0087b3 22.22%,
    #0085b9 27.78%,
    #0083bd 33.33%,
    #0081c0 38.89%,
    #007fc2 44.44%,
    #1e7cc3 50%,
    #3e79c3 55.56%,
    #5476c1 61.11%,
    #6672be 66.67%,
    #756fba 72.22%,
    #826bb6 77.78%,
    #8e67b0 83.33%,
    #9963a9 88.89%,
    #a260a1 94.44%,
    #aa5d99 100%
  );
}

.bg {
  background-image: url("../img/login.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
